
[submodule "0. Cơ sở ngành/CSC10008. Mạng máy tính/1. Labs/Cô Chung Thùy Linh/projects/socket/my-project"]
	path = 0. Cơ sở ngành/CSC10008. Mạng máy tính/1. Labs/Cô Chung Thùy Linh/projects/socket/my-project
	url = https://github.com/henry-banana/project-socket-fit-hcmus-2024.git
