[submodule "0. Cơ sở ngành/1. CSC10003. [OOP] Phương pháp lập trình hướng đối tượng/2. midterm-project"]
	path = 0. Cơ sở ngành/1. CSC10003. [OOP] Phương pháp lập trình hướng đối tượng/2. midterm-project
	url = https://github.com/henry-banana/project-manage-university-hcmus-2025
