[submodule "0. Cơ sở ngành/1. CSC10003. Phương pháp lập trình hướng đối tượng/2. midterm-project/project-manage-university-hcmus-2025"]
	path = 0. Cơ sở ngành/1. CSC10003. Phương pháp lập trình hướng đối tượng/2. midterm-project/project-manage-university-hcmus-2025
	url = https://github.com/henry-banana/project-manage-university-hcmus-2025
